{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>お店情報の登録 | INIADランチマップ</title>
  <meta charset="utf-8" >
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <script type="text/javascript" src="{% static 'js/script.js' %}" ></script>
</head>
<body>
<div class="main-container">
  <a href="/" >TOP</a>
  <h1 class="text-center">お店情報の登録</h1>
  <form method="POST">
    {% csrf_token %}
    <input type="text" class="input-text" name="name" placeholder="店名" />
    <br/>
    <input type="text" class="input-text" name="business_hour" placeholder="営業時間" />
    <br/>
    <input type="text" class="input-text" name="address" placeholder="住所" />
    <br/>
    <textarea class="input-text" name="detail" placeholder="説明・メニュー"></textarea>
    <div class="text-right">
        <input type="submit" value="登録ボタン">
    </div>

  </form>
</div>
</body>
</html>
